/* Обвертка для логотипа и формы */
.container {
    height: 100%;
    padding: 20px 12px;
    overflow-y: auto;
}


/* Логотип */
.logotype-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotype-wrapper img {
    width: 70%;
    cursor: pointer;
}


/* Форма входа */
.form {
    width: 280px;
    height: auto;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* Кнопка и инпуты во всю ширину */
.form > button, .form > input {
    width: 100%;
}


/* Для лейблов отступ сверху кроме первого */
label:not(:first-child) {
    margin-top: 12px;
}

/* И для кнопки отступ */
button[type=submit] {
    margin-top: 12px;
}


/* Текст под формой */
h5 {
    margin-top: 8px;
    text-align: center;
}

/* Контент в 100% */
@media screen and (max-width: 316px) {
    /* Ставим ширину формы на всю страницу */
    .form {
        width: 100%;
    }

    /* Размер текста меньше */
    label {
        font-size: var(--text-h4);
    }
}