/* Навигация сверху */
@media screen and (max-width: 1000px) {
    /* Отступ для фотографии */
    article {
        padding-top: 120px;
    }
}

/* Контент в 300px */
@media screen and (max-width: 590px) {
    /* Фото профиля по центру */
    .user-top__photo, .user-top__photo__wrapper {
        left: 50%;
    }

    .user-top__photo {
        width: 75px;
        height: 75px;
    }

    .user-top__photo__wrapper {
        width: 83px;
        height: 83px;
    }

    /* Только для десктопных устройств */
    @media (hover: hover) {
        .user-top__photo:hover, .user-top__photo:active {
            width: 83px;
            height: 83px;
        }
    }


    /* Имя под фото */
    .user-top__name {
        width: 100%;
        margin-top: 40px; /* Отступ от картинки примерно 12px */
        text-align: center;
        margin-left: 0;
    }


    /* Кнопка жалобы и изменения */
    #report-button, #edit-button, #exit-button {
        width: 100px;
    }

    #exit-button {
        left: 0;
    }

    .divider {
        width: 100%;
    }

    .user-bio-wrapper {
        width: 100%;
    }

    /* Информация в одну колонну + отступ между блоками */
    .user-info__part {
        width: 100%;
        flex-wrap: wrap;
        gap: 12px;
    }

    .user-info__part > p {
        width: 100%;
    }

    .user-info__part-button {
        width: 100%;
    }


    /* Текст в одну строку */
    .user-info__part > p {
        width: 100%;
    }

    .user-info__part.date {
        height: auto;
    }

    .user-info__part input {
        width: 100%;
    }
}

/* Ресайз навигации */
@media screen and (max-width: 420px) {

}

/* Контент в 100% */
@media screen and (max-width: 316px) {
    /* Кнопка жалобы и изменения */
    #report-button, #edit-button, #exit-button {
        top: 54px;
        left: 50%;
        transform: translateX(-50%);
    }

    #exit-button {
        top: 102px; /* 54 + 36 + 12 */
    }


    /* Имя под фото */
    .user-top__name {
        width: 100%;
        /* margin-top: 88px;  Отступ от картинки примерно 12px */
        margin-top: 38px; /* Без кнопки репорта */
        text-align: center;
        margin-left: 0;
    }

    /* В телефонной версии если юзер рендерит свою страницу, то отступ больше */
    .user-top__name.self-render {
        margin-top: 136px; 
    }

    /* Контейнер с информацией авто высота */
    .user-info__part.inline {
         height: auto;
    }
}