#article-login {
    padding: 20px;
}

/* Секция входа */
#article-login section {
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;
    gap: var(--block-gap);

    text-align: center;

    margin: 0 auto;
}


/* Логотип над формой */
#article-login .logo-wrapper {
    width: min(200px, 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto ;
}

#article-login .logo-wrapper img {
    width: 100%;

    cursor: pointer;
}

.login__code-button {
    width: auto;
}