.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    padding: 12px;
    gap: 12px;
}

.editing-main {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.edit-block {
    width: 90%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.edit-block__title {
    width: 40%;
    margin-top: 4px;
}

.edit-block__title-mini {
    width: 40%;
    margin-top: 8px;
    display: none;
}

.edit-block__content {
    width: 60%;
}

.edit-line {
    width: 90%;
    border-bottom: 1px var(--block-border) solid;
}

input {
    width: 100%;
}

.edit-modal__block-textarea {
    width: 100%;
    min-height: 31px;
    max-height: 200px;
    height: 80px;
    resize: vertical;
}

.edit-buttons {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.editing-nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.editing-nav__button {
    width: 100%;
}

.logo-preview, .map-preview {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8px;
}

.country-id {
    margin-top: 4px;
}

/* На телефоне при заходе в редактирование показывается только меню, при нажатие открывается список и сверху кнопка назад */
/* на 550px */

@media screen and (max-width: 650px) {
    .edit-block, .edit-block, .edit-line {
        width: 100%;
    }

    .editing-main {
        width: 100%;
    }

    .content-wrapper {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 400px) {
    .edit-block__title-mini {
        display: block;
    }

    .edit-block__title {
        display: none;
    }
}