/* Контент тел версии */
.main-nav__phone {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-secondary);
    display: none;
}


/* Кнопки тел версии */
#nav__burger {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 20px;
}

#nav__burger img {
    width: 40px;
    height: 40px;
}

#nav__user, #nav__country {
    width: auto;
    height: 45px;
    padding: 0 4px;
    margin-left: 20px;
}

#nav__user img, #nav__country img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Текст в кнопках */
#nav__user h5, #nav__country h5 {
    max-width: 100px;
    min-width: 0px;
    margin-left: 4px;
}



/* Навигация сверху */
@media screen and (max-width: 1000px) {
    /* Включаем тел версию */
    .main-nav__phone {
        display: flex;
    }

    /* Перекрытие бордера над навигацией */
    .hide-border-part::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 200px;
        background-color: var(--bg-secondary);
    }
}

/* Контент в 300px */
@media screen and (max-width: 590px) {

}

/* Ресайз навигации */
@media screen and (max-width: 420px) {
    /* Перекрытие бордера растягиваем на весь экран */
    .hide-border-part::after {
        width: 100%;
    }


    /* Ставим картинки просто круглые */
    #nav-user, #nav-country {
        width: 45px;
        padding: 0;
    }

    /* Отключаем текст */
    #nav-user h5, #nav-country h5 {
        display: none;
    }
}

/* Контент в 100% */
@media screen and (max-width: 316px) {

}