/* Навигация */
main nav {
    width: 200px; /* Ширина навигации 200px */
    height: 100%;
    z-index: var(--z-nav);

    position: absolute;
    left: 0;
    top: 0;
}

/* Для скрола полной навигации */
.main-nav__content-wrapper {
    height: 100%;
    overflow-y: auto;
}

/* Основной контент + скрол в телефонной версии */
.main-nav__content {
    width: 200px;
    overflow: auto;
    padding-bottom: 20px;
}

.main-nav__content li {
    user-select: none;
}


/* Логотип */
.main-nav__logotype {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    cursor: pointer;
}

.main-nav__logotype img {
    width: 150px;
}


/* Разделитель */
.main-nav__divider {
    width: 90%;
    margin: 0 auto 20px auto; /* Центр */
    padding-top: 20px;
    border-bottom: 1px solid var(--border-primary);
}


/* Ссылки как прозрачные кнопки */
.main-nav__link {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--button-bg-transparent);
}

.main-nav__link a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    .main-nav__link:hover, .main-nav__link:active {
        background-color: var(--button-hover-transparent);
    }
}


/* Контент профиля и страны */
.main-nav__link-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    margin-left: 4px;
}

#nav-full__profile img, #nav-full__country img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.main-nav__link-text h5 {
    width: 100px;
}

.main-nav__link-text h6 {
    width: 100px;
    color: var(--text-secondary);
}


/* Кнопка авторизации (Как обычная зеленая) */
#nav-full__authorization {
    background-color: var(--button-bg-primary);
    border-radius: 4px;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    #nav-full__authorization:hover, #nav-full__authorization:active {
        background-color: var(--button-hover-primary);
    }
}



/* Навигация сверху */
@media screen and (max-width: 1000px) {
    /* Делаем навигацию сверху поверх всего + ресайз */
    main nav {
        width: 100%;
        height: 50px;
        position: fixed;
        right: 0;
        top: 0;
    }

    /* Прячем основной контент */
    .main-nav__content {
        display: none;
        cursor: default;
    }

    /* Отступ у кнопок */
    .main-nav__content li {
        padding: 0 8px;
    }


    /* Задний фон навигации */
    .main-nav__content-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: #00000066;
        z-index: var(--z-nav-content);
        display: none;
    }

    /* Включает отображение */
    .main-nav__content-wrapper.show {
        display: flex;
        position: fixed;
        cursor: pointer;
    }

    /* Сама навигация становится телефонной версией */
    .main-nav__content.show {
        background-color: var(--bg-secondary);
        border-left: 1px solid var(--border-secondary);
        display: block;
        padding-bottom: 70px;
    }
}

/* Контент в 300px */
@media screen and (max-width: 590px) {

}

/* Ресайз навигации */
@media screen and (max-width: 420px) {
    /* Растягиваем навигацию на весь экран и убираем бордер слево*/
    .main-nav__content.show {
        width: 100%;
        border: none;
    }
}

/* Контент в 100% */
@media screen and (max-width: 316px) {

}