.user-edit > button {
    margin: 0 auto;
}

/* Текст превью */
.user-edit__preview-text {
    text-align: center;
}

/* Картинка с превью */
.user-edit__preview {
    width: fit-content;
    margin: 0 auto;
}

.user-edit__preview img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    border-radius: var(--border-radius);
}
