#sort-buttons {
    display: flex;
    gap: 12px;
}

#words-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#words-container p {
    width: 100%;
}

#words-container p span {
    float: right;
}