/* Правая панель (На разных страницах разный функцианал) */
aside {
    width: 212px; /* Как ширина навигации 200px */
    height: 100%;
    padding: 20px 0; /* Отступ как и у основного блока */
    z-index: var(--z-nav);
    
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: overlay; /* Скроллбар поверх */

    position: absolute;
    right: -12px;
    top: 0;
}

/* Контент aside */
aside section {
    width: 200px;
    padding: 12px;

    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Навигация сверху */
@media screen and (max-width: 1000px) {
    aside {
        display: none;
    }
}

/* Заголовок в aside */
#aside-title {
    text-align: center;
}


/* Контейнер с кнопками */
#aside-users, #aside-countries {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding-top: 12px;

    /* Бордер сверху отделяет блоки с избранными */
    border-top: 1px solid var(--border-primary);
}


/* Блок с юзером */
.aside__button-container {
    width: 100%;
    height: auto;
}

.aside__button {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 8px;

    text-align: start;
}


.aside__button img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 4px;
}

.aside__button-names {
    /* Фиксированая ширина что бы картинка не сжималась (минус ширина картинки минус отступы 4 4 4) */
    width: calc(100% - 44px - 12px);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}