@import "./text.css";
@import "./link.css";
@import "./button.css";
@import "./input.css";
@import "./page-loading.css";
@import "./theme.css";


:root {
    /* Основные цвета */
    --bg-primary: #1B1A1F;
    --bg-secondary: #242328;
    --bg-transparent: #15151586;

    /* Бордеры */
    --border-primary: #413F46;
    --border-radius: 4px;

    /* Отступы между и внутри блоков */
    --gap-small: 12px;
    --gap-medium: 20px;

    /* Уровни слоев */
    --z-under: -1; /* Под основным контентом */
    --z-main: 0; /* Основной контент */
    --z-over: 1; /* Над основным контентом */
    --z-nav-bg: 8; /* Подложка навигации (Черный фон) */
    --z-nav-content: 9; /* Верх навигации */
    --z-nav: 10; /* Меню навигации */
    --z-modal: 11; /* Модальное окно (над навигацией) */
    --z-loading: 12; /* Загрузка над модальным окном */
    --z-top: 13; /* Над всем */
}


* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    color-scheme: dark;

    transition: .2s all;
}


/* Полоса прокрутки */
*::-webkit-scrollbar {
    width: 6px;
}

/* Задний фон полосы прокрутки */
*::-webkit-scrollbar-track {
    border-radius: var(--border-radius);
    background-color: transparent;
}

/* Маркер прокрутки */
*::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background-color: var(--border-primary);
}

/* Контент в 100% */
@media screen and (max-width: 900px) {
    /* Полоса прокрутки тоньше на телефоне */
    *::-webkit-scrollbar {
        width: 4px;
    }
}