.support-section p {
    color: var(--text-light);
}

.support-ul li {
    margin-left: var(--gap-medium);
    list-style-type: disc;
}

.support-img {
    border: 1px solid var(--border-primary);
    border-radius: var(--border-radius);
    object-fit: contain;
}