/* Заголовок по центру */
#pass-modal h2 {
    text-align: center;
}

/* Инпуты и кнопки максимальной ширины */
#pass-modal input {
    width: 100%;
    margin-bottom: 12px;
}

#pass-modal button:not(.input-wrapper button) {
    width: 100%;
}