/* Страница входа */
#article-login {
    /* Одинаковый отступ со всех сторон страницы */
    padding: var(--gap-medium);
    gap: 0;
}

/* Логотип над формой */
#article-login .logo-wrapper {
    width: min(200px, 100%);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto ;
}

#article-login .logo-wrapper img {
    width: 100%;
    cursor: pointer;
}

/* Секция входа */
#article-login section {
    width: min(384px, 100%);
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);

    margin: 0 auto;
}

#article-login section h1 {
    width: 100%;
    text-align: center;
}

#article-login section button {
    width: 100%;
}