:root {
    --button-bg: #322F39;
    --button-hover: #55515C;
    --button-bg-clicked: #5E5A65;

    --button-bg-primary: #02760F;
    --button-hover-primary: #006500;

    --button-bg-danger: #7A141A;
    --button-hover-danger: #A91922;

    --button-bg-transparent: #FFFFFF00;
    --button-hover-transparent: #FFFFFF1F;

    --button-bg-disabled: #2E2C35;
}

/* Обычная кнопка (Серая) */
button {
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-primary);
    font-size: var(--text-h4);
    text-decoration: none;

    outline: none;
    border: none;
    border-radius: 4px;
    background-color: var(--button-bg);

    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

button:hover, button:active {
    background-color: var(--button-hover);
}


/* Важная кнопка (Зеленая) */
button.primary {
    background-color: var(--button-bg-primary);
}

button.primary:hover, button.primary:active {
    background-color: var(--button-hover-primary);
}


/* Опасная кнопка (Красная) */
button.danger {
    background-color: var(--button-bg-danger);
}

button.danger:hover, button.danger:active {
    background-color: var(--button-hover-danger);
}


/* Кнопка в списке (Прозрачная) */
button.transparent {
    background-color: var(--button-bg-transparent);
}

button.transparent:hover, button.transparent:active {
    background-color: var(--button-hover-transparent);
}


/* Кнопка с иконкой (Как прозрачная, но 36x36) */
button.image {
    width: 36px;
    height: 36px;
    background-color: var(--button-bg-transparent);
}

/* button.image img {
    width: 100%;
} */

button.image:hover, button.image:active {
    background-color: var(--button-hover-transparent);
}


/* Отключена */
button:disabled {
    cursor: not-allowed;
    color: var(--text-darker);
    background-color: var(--button-bg-disabled);
}

button:disabled:hover, button:disabled:active {
    cursor: not-allowed;
    background-color: var(--button-bg-disabled);
}

button.clicked {
    background-color: var(--button-bg-clicked);
}