@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Элементы */
@import "global-elements.css";
@import "button.css";
@import "input.css";
@import "text.css";

/* Загрузка */
@import "../scripts/loading/styles/loading.css";

/* Навигация */
@import "../scripts/nav/styles/nav.css";
@import "../scripts/nav/styles/nav-phone.css";

/* Уведомления */
@import "../scripts/notification/styles/notification.css";

:root {
    color-scheme: dark;
    
    --bg-primary: #1B1A1F;
    --bg-secondary: #242328;

    --border-primary: #413F46;
    --border-secondary: #1CA02C;

    --z-under: -1; /* Под основным контентом */
    --z-main: 0; /* Основной контент */
    --z-over: 1; /* Над основным контентом */
    --z-modal: 2; /* Модальное окно (Под навигацией) */
    --z-loading: 3; /* Загрузка над модальным окном */
    --z-nav-content: 4; /* Контент навигации */
    --z-nav: 5; /* Топ навигации */
    --z-top: 6; /* Над навигацией */
}

* {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    font-size: var(--text-h4);
    font-weight: 500;
    color: var(--text-primary);

    list-style-type: none;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
    
    transition: .2s all;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
}


/* Отступ между блоками (Навигация / Контент / Правый блок) 20px, внутри блока отступ 12px */

/* Весь сайт */
main {
    /* Ширина сайта Навигация + блок + отступы блока + левая часть */
    width: min(calc(200px + 550px + 40px + 200px), 100%); /* Ширина сайта либо максимальная ширина, либо 100% экрана */
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: visible;

    margin: 0 auto; /* По центру страницы */
    position: relative; /* Что бы блоки не уехжай на край экрана */
}


/* Секция контента сайта (Прокручивает только контент не задевая правый и левый блок) */
article {
    /* Ширина контена + (отступ до скроллбара + скролл) * 2 что бы было по центру) */
    width: calc(550px + 24px);
    padding: 20px 0; /* Наружный отступ сверху и снизу для для красивого скрола */

    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: overlay; /* Скроллбар поверх */
}


/* Контент страницы */
article section {
    width: 550px; /* Основной блок в 550px */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px; /* Отступ между элементами */

    margin: 0 auto; /* По центру */
    overflow: visible; /* Выступающий контент видно */
}

/* Правая панель (На разных страницах разный функцианал) */
aside {
    width: 212px; /* Как ширина навигации 200px */
    height: 100%;
    padding: 20px 0; /* Отступ как и у основного блока */
    z-index: var(--z-nav);
    
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: overlay; /* Скроллбар поверх */

    position: absolute;
    right: -12px;
    top: 0;
}

/* Контент aside */
aside section {
    width: 200px;
    padding: 12px;

    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: 4px;
}

/* Навигация сверху */
@media screen and (max-width: 1000px) {
    /* Отодвигаем от верха что бы нечего не закрывала навигацию */
    article {
        width: 100%; 
        padding-top: 70px; /* 50px высота навигации + 20px отступ сверху */
    }

    aside {
        display: none;
        padding-top: 70px;
    }
}

/* Контент в 300px */
@media screen and (max-width: 590px) {
    /* Делаем контент шириной в 300px */
    article section {
        width: 300px;
    }
}

/* Контент в 100% */
@media screen and (max-width: 316px) {
    /* Делаем контент шириной в 100% */
    article section {
        width: 100%;
        padding: 0 8px;
    }
}


/* Скролл */
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Подложка скролла в цвет фона */
::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #00000000;
}

/* Скрол цвета основного блока */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--bg-secondary);
}