/* Контент в 550px, блоки контента в 100% шириной */

/* Навигация сверху */
@media screen and (max-width: 1000px) {
    /* Отступ для кнопки */
    article {
        padding-top: 120px;
    }

    /* Убираем оступ */
    aside section {
        width: 100%;
    }

    #edit-back {
        display: flex;
    }
}

/* Контент в 300px */
@media screen and (max-width: 590px) {
    /* Ставим переносы */
    .edit-block {
        width: 100%;
        flex-wrap: wrap;
        gap: 12px;
    }

    /* Инпуты переходят на следующую строку и становяться в 100% шириной */
    .edit-block .edit-block__title, .edit-block input, textarea, .divider {
        width: 100%;
    }
}

/* Ресайз навигации */
@media screen and (max-width: 420px) {

}

/* Контент в 100% */
@media screen and (max-width: 316px) {

}