/* Контент страницы */
.content-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    position: relative;
    overflow: visible;
    
    margin: 0 auto; /* Блок по центру */
}

/* Разделитель блоков */
.divider {
    width: 90%;
    border-bottom: 1px solid var(--border-primary);
}

.edit-block {
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Заголовок */
.edit-block .edit-block__title {
    width: 50%;
}

.edit-block input, .edit-block button {
    width: 50%;
}


/* Превью фотографии */
#edit-photo-preview {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

/* Заголовок у bio в 100% ширины */
#edit-bio-title {
    width: 100%;
}

/* Счетчик у bio */
#edit-bio-count {
    color: var(--text-secondary);
    float: right;
}


/* Поле описание в 100% шириной */
textarea {
    width: 90%;
    height: 120px;

    resize: none;
    overflow: overlay;
}


/* Кнопка вернуться в профиль */
#edit-back {
    position: absolute;
    left: 0;
    top: -40px;
    display: none;
}

.edit-buttons {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
}