/* Отступ для фотографии */
article {
    padding-top: 70px;
}

#main-block {
    overflow: visible;
    position: relative;
}

/* Верх профиля */
.profile-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

/* Тег автора и имя, в телефонной версии съезжает под аватарку */
.profile-top__name {
    width: calc(100% - 20%);
    display: flex;
    flex-direction: column;
    gap: 4px; /* Отступ текста примерно 12px */
    margin-left: calc(20% + 52px); /* Отступ от фото примерно 12px */
}

#profile-tag {
    /* Скопировать тег */
    cursor: pointer;
}


/* Фото профиля */
.profile-top__photo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: content-box;
    z-index: var(--z-over);

    position: absolute;
    top: 0;
    left: 20%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    .profile-top__photo:hover, .profile-top__photo:active {
        width: 108px;
        height: 108px;
    }
}


.profile-top__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Обводка фотографии */
.profile-top__photo__wrapper {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    box-sizing: content-box;
    z-index: var(--z-over);

    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);

    position: absolute;
    top: 0;
    left: 20%;
    transform: translate(-50%, -50%);
}


/* Кнопка жалобы и изменения в одном месте */
#report-button, #edit-button {
    position: absolute;
    right: 0;
    top: -40px;
}

/* Кнопка выхода в одной строке с кнопкой изменения */
#exit-button {
    position: absolute;
    right: 172px;
    top: -40px;
}


/* Разделитель */
.divider {
    width: 90%;
    border-bottom: 1px solid var(--border-primary);
}


/* Блок с информацией */
.profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.profile-info__part {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-info__part.date {
    height: 40px;
}


/* Оступ слево */
.profile-info__part p {
    width: 50%; /* Ширина блока текста */
}

.profile-info__part input {
    width: 50%;
}


/* Обвертка описания */
.profile-bio-wrapper {
    width: 90%;
    position: relative;
}

#profile-bio {
    width: 100%;
    height: 100px;
    padding: 8px;

    background-color: var(--bg-primary);
    border: 1px solid var(--border-primary);
    border-radius: 4px;
}

#profile-bio.js-show-button {
    height: auto;
}

.profile-bio-show {
    width: 100%;
    padding: 24px 0 12px 0;

    position: absolute;
    bottom: 0;
    left: 0;

    text-align: center;
    cursor: pointer;
    background: linear-gradient(#00000000, #000000 80%);
}

#profile-bio.show {
    height: auto;
    padding-bottom: 60px;
}

/* Блок с картинкой и текстом */
.profile-info__part-button {
    height: 40px;
    width: 50%;
    background-color: var(--button-bg);
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    .profile-info__part-button:hover, .profile-info__part-button:active {
        background-color: var(--button-hover);
    }
}

.profile-info__part-button img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: cover;

    margin-left: 4px;
}

.profile-info__part-button p {
    /* Фиксированая ширина что бы картинка не сжималась (минус ширина картинки минус отступы 4 4 2) */
    width: calc(100% - 36px - 10px);
}



/* Фото в модальном окне размером в весь экран */
#photo-modal {
    /* max-width: 80%;
    max-height: 80%; */
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;

    cursor: default;

    /* Увеличение картинки в полтора раза */
    scale: 1.5;
}