/* Стили для aside */

/* aside {
    padding-top: 70px;
} */

aside section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#aside-title {
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-primary);
}

/* Блок с юзером */
.aside__button {
    height: 100%;
    width: 100%;
    background-color: var(--button-bg);
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 8px;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    .aside__button:hover, .aside__button:active {
        background-color: var(--button-hover);
    }
}

.aside__button img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 4px;
}

.aside__button-names {
    /* Фиксированая ширина что бы картинка не сжималась (минус ширина картинки минус отступы 4 4 4) */
    width: calc(100% - 44px - 12px);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}