.button-profile {
    height: var(--button-big-height);
    display: flex;
    justify-content: flex-start;
}

.button-profile img {
    width: var(--button-big-img-size);
    height: var(--button-big-img-size);
    border-radius: 50%;
    
    background-color: var(--bg-primary);
    object-fit: cover;
}

.button-profile__text {
    /* 40px картинка и оступы с боков */
    width: calc(100% - var(--button-big-img-size) - var(--button-gap) - var(--button-padding));
    display: flex;
    flex-direction: column;
}

.button-profile__text p, .button-profile__text small {
    text-align: left;
}