/* Кнопка с иконкой (Как прозрачная, но 36x36) */
.button-image {
    width: auto; /* Высота как у обычноый кнопки, а ширина обтягивает картинку + padding */
}

/* Иконка в кнопке чуть меньше кнопки */
.button-image img {
    width: var(--button-img-size);
    height: var(--button-img-size);
}