aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

aside button {
    width: 100%;
}

#elements {
    height: 1000px;
}