/* Курсор приближения для картинок которые можно открыть на весь экран */
.image-fullscreen {
    cursor: zoom-in;
}

.image-fullscreen img {
    width: 100%;
}

.image-fullscreen__modal {
    max-width: 80vw;
    max-height: 80vh;

}

.image-fullscreen__modal img {
    max-width: 80vw;
    max-height: 80vh;
}

/* Отключаем transition */
.image-fullscreen__modal div {
    transition: 0s all;
}