.custom-input-wrapper {
    width: 100%;
    height: auto;
    position: relative;

    margin-top: 8px; /* Отступ между инпутами - 20px */
}

.custom-input-wrapper label {
    position: absolute;
    padding: 0 4px;
    top: 8px;
    left: 4px;

    color: var(--text-dark);
    /* Отключаем взаимодействие с label */
    pointer-events: none;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Перемещаем текст выше если в инпуте есть значение или инпут активен */
.custom-input-wrapper input[type=text]:focus:not(:read-only) ~ label,
.custom-input-wrapper input[type=text]:valid:not(:read-only) ~ label,
.custom-input-wrapper input[type=text]:read-only ~ label,
.custom-input-wrapper textarea:focus:not(:read-only) ~ label,
.custom-input-wrapper textarea:valid:not(:read-only) ~ label,
.custom-input-wrapper textarea:read-only ~ label {
    translate: 0px -16px;

    font-size: var(--p-small-size);
    color: var(--border-input);

    background-color: var(--bg-secondary);
}

/* При нажатии на инпут зеленая обводка */
.custom-input-wrapper input[type=text]:focus:not(:read-only),
.custom-input-wrapper textarea:focus:not(:read-only) {
    border: 1px solid var(--border-input-focus);
}


/* При нажатии на инпут зеленый текст лейбла */
.custom-input-wrapper input[type=text]:focus:not(:read-only) ~ label,
.custom-input-wrapper textarea:focus:not(:read-only) ~ label {
    color: var(--border-input-focus);
    
}

/* Стиль для ошибки */
.custom-input-wrapper input[type=text].error:not(:read-only) {
    border: 1px solid var(--border-input-error);
}

.custom-input-wrapper input[type=text].error:not(:read-only) ~ label {
    color: var(--border-input-error);
}


/* Стиль для ошибки */
.custom-input-wrapper textarea.error:not(:read-only) {
    border: 1px solid var(--border-input-error);
}

.custom-input-wrapper textarea.error:not(:read-only) ~ label {
    color: var(--border-input-error);
}


/* Инпут с паролем */
.custom-input-password input {
    padding-right: 44px; /* 32px + 12px */
}

/* Кнопка внутри обвертки */
.custom-input-password button {
    /* Кнопка внутри инпута 28px на 28px */
    width: var(--button-img);
    height: var(--button-img);

    position: absolute;
    top: 4px;
    right: 4px;
}

/* Картинка внутри обвертки */
.custom-input-password button img {
    /* Картинка внутри кнопки 28px на 28px */
    width: var(--button-img);
    height: var(--button-img);
}