/* Блок с постом */
.post {}

/* Верхняя часть поста (автор и время публикации) */
.post__top {
    justify-content: space-between;
    gap: 0;
}

/* Текст поста */
.post > p {
    white-space: pre-wrap;
}


/* Оставляем место под время */
.post__top button {
    width: calc(100% - 80px);
}


/* Время */
.post__top > small {
    text-align: right;
}


/* Блок с прокруткой картинок */
.post__attachments-container {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Более толстый Scroll */
.post__attachments-container::-webkit-scrollbar {
    height: 8px;
}

.post__attachments {
    display: flex;
    gap: var(--gap-small);
    padding-bottom: var(--gap-small);
}

.post__attachments img {
    display: inline-block;
    width: auto;
    height: 350px;
    object-fit: contain;
    border-radius: var(--border-radius);
}


/* Если картинка одна - во всю ширину блока, не зависимо от высоты */
.post__attachment__single-img {
    width: 100%;
    object-fit: contain;
    border-radius: var(--border-radius);
}


.post__buttons {
    
}