html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--bg-primary);
}

/* Основной контейнер всего контента */
#root {
    display: flex;
    gap: 20px;

    padding: 0 20px;
}

/* Блок навигации */
aside {
    width: 212px; /* 200px размер навигации + 12px scroll */
    height: 100%; /* Высота во всю страницу */

    z-index: var(--z-nav-content);
}

/* Блок страницы */
article {
    width: 562px; /* 550px размер страницы + 12px scroll */
    height: 100%; /* Высота во всю страницу */
    padding: 20px 12px 20px 0px; /* Внешний отступ блоков - 20px */
    overflow-y: auto; /* scroll обычный */
    overflow-x: hidden;
    /* -ms-overflow-style: -ms-autohiding-scrollbar; */

    display: flex;
    flex-direction: column;
    gap: var(--article-gap);

    scrollbar-gutter: stable;
}

/* CSS for other than iOS devices */ 
@supports not (-webkit-touch-callout: none) {
    article {
        overflow-y: overlay; /* Scroll поверх */
    }
}

/* Блок с контентом */
section {
    width: 100%;
    height: auto; /* Высота определяется контентом блока */
    position: relative;

    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: var(--border-radius);
    padding: var(--block-gap);
}


/* Заголовки страниц */
.page-title {
    color: var(--text-dark);
    margin-left: var(--article-gap);
}

/* Разделение внутри блока */
.divider {
    width: 100%;
    border-bottom: 1px solid var(--border-primary);
}


/* Блок - флекс строка */
.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--block-gap);
}

/* Блок - флекс колонна */
.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--block-gap);
}


/* Скрыть объект (не использовать) */
.hidden {
    display: none !important;
}


/* Объекты которые не видно на большом экране */
@media screen and (min-width: 840px) {
    .phone-show {
        display: none !important;
    }
}
