article section {
    height: 100%;
}

/* Снизу у блока убираем отступ */
.main-block {
    height: 100%;
    padding-bottom: 0px;
    gap: 0;
}

/* Заголовок блока */
.block-title {
    text-align: center;
    border-bottom: 1px solid var(--border-primary);
    padding-bottom: 12px;
}

/* Контент блкоа */
.block-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
}


/* Поиск */
.input-wrapper {
    width: 40%;
    height: 36px;

    margin-top: 12px;
}

.input-wrapper img {
    pointer-events: none;
}


/* Список юзеров */
.users-list {
    width: calc(60% - 12px);
    height: 100%;
    overflow: auto;

    /* Отступ снизу (отступ от нижнего края) */
    padding-bottom: 12px;
    margin-right: 12px;
}

/* Скрол цвета фона */
.users-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--bg-primary);
}


/* Обвертка юзера */
.users-list__button-container {
    height: 48px;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 12px;

    margin-top: 12px;
}

/* Блок с юзером */
.users-list__button {
    height: 100%;
    width: calc(90% - 20px);
    background-color: var(--button-bg);
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 8px;

    position: relative;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    .users-list__button:hover, .users-list__button:active {
        background-color: var(--button-hover);
    }
}

.users-list__button img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 4px;
}

.users-list__button-names {
    /* Фиксированая ширина что бы картинка не сжималась (минус ширина картинки минус отступы 4 4 4) */
    width: calc(100% - 44px - 12px);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.users-list__favourite {
    width: 24px;
    height: 24px;

    opacity: 0;

    cursor: pointer;
}

.users-list__favourite.show {
    opacity: 1;
}

/* На пк при наведении на юзера появляется кнопка закрепа, при наведении на кнопку она становиться ярче */
@media (hover: hover) {
    .users-list__button-container:hover .users-list__favourite:not(.show) {
        opacity: .25;
    }

    .users-list__favourite:hover:not(.show) {
        opacity: .5 !important;
    }

    .users-list__favourite.show:hover {
        opacity: .75 !important;
    }
}

/* На не яркая кнопка всегда */
@media (hover: none) {
    .users-list__favourite {
        opacity: .25;
    }
}