/* Контент в 550px, блоки контента в 100% шириной */

/* Навигация сверху */
@media screen and (max-width: 1000px) {
    .button-content {
        width: 100%;
    }

    /* Отключаем  */
    .button-favourite {
        display: none;
    }

    .input-wrapper, .countries-list {
        width: 43%;
    }

    .countries-list {
        width: calc(57% - 8px);
        padding-right: 8px;
    }
}

/* Контент в 300px */
@media screen and (max-width: 590px) {
    /* Отключаем отступ справо и снизу */
    #main-block {
        padding: 12px 0 0px 12px;
    }

    /* Контент блока */
    .block-content {
        flex-direction: column-reverse;
        gap: 0;
    }

    .block-title, .input-wrapper {
        width: calc(100% - 12px);
    }

    .countries-list {
        width: calc(100% - 4px);
        padding-right: 5px;

        border-top: 1px solid var(--border-primary);

        margin: 0;
    }

    .input-wrapper {
        margin-bottom: 12px;
    }
}

/* Ресайз навигации */
@media screen and (max-width: 420px) {

}

/* Контент в 100% */
@media screen and (max-width: 316px) {

}