/* Нижня панель */
.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 75px;
    margin: 0 5% 0 5%;
    border-radius: 10px 10px 0 0 !important;
    border: 1px var(--block-highlight-border) solid !important;
    border-bottom: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 25px 0 25px;
}

.bottom__find {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.bottom__find-input {
    margin-right: 10px;
}

.bottom-button {
    width: auto !important;
    padding: 0 8px 0 8px;
}

@media screen and (max-width: 1020px) {
    .bottom {
        width: 100%;
        margin: 0;
        padding: 0 10px 0 10px;
        border-radius: 0 !important;
        border: none !important;
        border-top: 1px var(--block-highlight-border) solid !important;
    }
}

@media screen and (max-width: 520px) {
    .bottom__find {
        margin-right: 4px;
    }

    .bottom__find-input {
        width: 150px;
        margin-right: 4px;
    }

    .bottom-button {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 2px 0 2px;
    }
}

@media screen and (max-width: 300px) {
    .bottom {
        padding: 0 2px 0 2px;
    }

    .bottom__find-input {
        width: 75px;
        margin-right: 0px;
    }
}