@import "bottom.css";

.nations {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 76px;
    overflow: hidden;
}

.nations__all-wrapper, .nations__user-wrapper {
    width: max(70%, 520px);
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Растояние между блоками */
/* .nations__all-wrapper {
    padding-right: 1.5%;
}

.nations__user-wrapper {
    padding-left: 1.5%;
} */


.nations__all-title-wrapper, .nations__user-title-wrapper {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: solid var(--button-primary-border) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nations__all-title, .nations__user-title, .nations__all-change-user, .nations__user-change-all {
    padding: 4px;
    overflow: hidden;
    background-color: var(--primary-bg);
    text-align: center;
}

.nations__all-title, .nations__user-change-all {
    margin-right: 16px;
}

.nations__all-change-user, .nations__user-title {
    margin-left: 16px;
}

.nations__all-change-user, .nations__user-change-all {
    display: none;
}

.nations__all, .nations__user {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    background-color: var(--primary-bg);
    padding-top: 8px;
    /* Подвинуть полосу прокрутки */
    padding-left: 8px;
    padding-right: 8px;
    scrollbar-gutter: stable;
}

/* Подвинуть полосу прокрутки */
/* .nations__all {
    padding-left: 2.5%;
    padding-right: 2%;
    scrollbar-gutter: stable;
}

.nations__user {
    padding-left: 2.5%;
    padding-right: 2%;
    scrollbar-gutter: stable;
} */

.nation-container {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.nation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.nation-opened {
    height: auto;
}

.nation:hover, .nation:active {
    background-color: var(--button-secondary-bg);
}

.nation__image-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nation__image {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin: 1.7px 2px 1.7px 1px;
}

.nation__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 80px - 122px);  /* контент по центру, вычитаем растояние левого и правильного блока */
    box-sizing: border-box;
    padding-left: 4px;
}

.nation__content-title {
    margin-top: 4px;
    width: 100%;
    /* height: 24px; */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: auto;
}

.nation-opened-title {
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: visible;
}

.nation__content-text {
    width: 100%;
    height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.nation-opened-text {
    display: flex;
    height: auto;
}

.nation__after {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2px;
    padding-top: 2px;
    width: 120px;
    height: 78.4px;
    box-sizing: border-box;
}

.nation__after-profile {
    width: 100%; /* Размер левой части блока нации */
    height: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    color: var(--button-text-color);
    font-size: var(--text-button-size);
    /* border: solid var(--button-secondary-border) 2px; */
    /* background-color: var(--button-secondary-bg); */
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}

.nation__after-profile:hover, .nation__after-profile:active {
    background-color: var(--button-secondary-hover);
}

.nation__after-avatar {
    width: 31px;
    height: 31px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 2px;
}

.nation__after-names {
    width: calc(120px - 34px);
    height: 30px;
    display: flex;
    flex-direction: column;
}

.nation__after-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
}

.nation__after-buttons-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--button-secondary);
    border-radius: 10px;
    cursor: pointer;
}

.nation__after-buttons-wrapper:hover, .nation__after-buttons-wrapper:active {
    background-color: var(--button-secondary-hover);
}

.nation__after-button-share {
    margin-left: 0;
    display: none;
}

.nation__after-button-enter {
    margin-left: 10%;
    display: none;
}

.nation__after-button-edit {
    margin-left: 10%;
}

/* create / edit modal */
.create-modal__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #0000007a;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
    overflow: auto;
}

.create-modal__block {
    width: 300px;
    /* height: 80%; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.create-modal__block-title {
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
}

.create-modal__block-text {
    width: 250px;
    text-align: center;
    margin-bottom: 5px;
}

.create-modal__block-help, .create-modal__block-help2 {
    width: 250px;
    text-align: center;
    margin-bottom: 5px;
}

.create-modal__block-button-save,
.create-modal__block-button-change,
.create-modal__block-button-delete,
.create-modal__block-button-confirm,
.create-modal__block-button-cancel {
    margin-top: 10px;
}

.create-modal__block-textarea, .create-modal__block-name {
    margin-bottom: 10px;
}

.create-modal__block-image {
    margin-bottom: 5px;
}

.create-modal__block-textarea {
    width: 100%;
    height: 50px;
    resize: vertical;
}

.nation-preview {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5px;
    z-index: 5;
}

.enter-modal__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #0000007a;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
    overflow: auto;
}

.enter-modal__block {
    width: 300px;
    /* height: 80%; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.enter-modal__block-title {
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
}

.enter-modal__block-text {
    width: 250px;
    text-align: center;
    margin-bottom: 5px;
}

.enter-modal__block-help, .enter-modal__block-help2 {
    width: 250px;
    text-align: center;
    margin-bottom: 5px;
}

.enter-modal__block-button-change,
.enter-modal__block-button-cancel {
    margin-top: 10px;
}

@media screen and (max-width: 1020px) {
    .big-title  {
        font-size: var(--text-h1Title-size) !important;
    }

    .nations__all-change-user, .nations__user-change-all {
        display: block;
    }

    .nations {
        padding-left: 0;
        padding-right: 0;
    }

    .nations__user-wrapper {
        display: none;
    }

    .nations__all-wrapper, .nations__user-wrapper {
        width: 520px;
    }

    .nations__all-title, .nations__user-title, .nations__all-change-user, .nations__user-change-all {
        border-radius: 10px;
        cursor: pointer;
    }

    .nations__all-title:hover, .nations__all-title:active,
    .nations__user-title:hover, .nations__user-title:active,
    .nations__all-change-user:hover, .nations__all-change-user:active,
    .nations__user-change-all:hover, .nations__user-change-all:active {
        background-color: var(--button-secondary-bg);
    }
}

@media screen and (max-width: 520px) {
    .nations__all-wrapper, .nations__user-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .create-modal__block {
        width: 90%;
    }

    .create-modal__block-title, .create-modal__block-text, .create-modal__block-help, .create-modal__block-help2 {
        width: 100%;
    }

    .nation__content {
        width: calc(100% - 50px - 122px);
    }

    .nation__image {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 300px) {
    .nation__content {
        width: calc(100% - 122px);
    }

    .nation__image {
        display: none;
    }
}