/* Обычное уведомление (Серое) */
.notification {
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--button-bg);
    border-radius: 12px;

    font-size: var(--text-h3);
    text-align: center;
    
    padding: 8px 16px;
    z-index: var(--z-top);
}


/* Важное уведомление (Зеленое) */
.notification.primary {
    background-color: var(--button-bg-primary);
}


/* Опасное уведомление (Красное) */
.notification.danger {
    background-color: var(--button-bg-danger);
}



/* Навигация сверху */
@media screen and (max-width: 1000px) {

}

/* Контент в 300px */
@media screen and (max-width: 590px) {
    /* Уведомление меньше */
    .notification {
        width: calc(100% - 40px);
        font-size: var(--text-h4);
        transform: none;
        left: 0;
        margin: 0 20px;
    }
}

/* Ресайз навигации */
@media screen and (max-width: 420px) {

}

/* Контент в 100% */
@media screen and (max-width: 316px) {

}